
.box {
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    color: white;
    margin: 5px;
    border-radius: 10px;
    transition: all 0.00001s ease-in-out;
    display: inline-block;
}
.box:hover{
    opacity: 80%;
}

.even {
    background-color: rgb(68, 187, 68);
}

.odd {
    background-color: rgb(209, 209, 100);
}

.prime {
    background-color: rgb(196, 70, 70);
}